{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped" id="translationsTable" data-order='[[ 1, "desc" ]]'>
        <thead>
        <tr>
            <th>Filename</th>
            <th>Date</th>
            <th>User</th>
            <th>Task Id</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
        <tr>
            <th><a href="{{ document.getUrl }}" target="_blank">{{ document.getFilename }}</a></th>
            <td>{{ document.getCreateDate|date("Y-m-d H:i:s") }}</td>
            <td><span class="js_user_preview" data-user-id="{{ document.getAuthor }}" data-task-id="{{ document.getTaskId }}">{{ document.getDocumentToUser.getTalent }}</span></td>
            <td>{{ document.getTaskId }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
