{% extends 'base.html.twig' %}
{% block body %}
    <div class="well">
        <table class="table">
            <tr>
                <th style="width: 10%;">Title:</th>
                <td style="width: 30%;">{{ task.getTitle() }}</td>
                <td style="width: 20%;"><b>Date</b>:</td>
                <td style="width: 40%;">{{ task.getTasksDate() }}</td>
            </tr>
            <tr>
                <td><b>Languages</b>:</td>
                <td>{{ task.getLanguages() }}</td>
                <td><b>Status</b>:</td>
                <td>{{ task.getState() }}</td>
            </tr>
            <tr>
                <td><b>Creator</b>:</td>
                <td><span class="js_user_preview" data-user-id="{{ task.getUserId }}" data-task-id="{{ task.getTaskId }}">{{ task.getAuthor().getTalent() }}</span></td>
                <td><b>Original Document Id</b>:</td>
                <td>{{ task.getOriginalDocumentId() }}</td>
            </tr>
            <tr>
                <td><b>Team-members</b>:</td>
                <td>Andrew Marcione,Andrew Marcione,Andrew Marcione,Andrew Marcione</td>
            </tr>
        </table>
    </div>

    <table class="table table-striped" id="translationsTable"  data-order='[[ 0, "desc" ]]'>
        <thead class="thead-default">
        <tr>
            <th style="width: 5%;">Languages</th>
            <th style="width: 40%;">Files</th>
            <th style="width: 20%;">Date</th>
            <th style="width: 15%;">Author</th>
        </tr>
        </thead>
        <tbody>
        {% for language,documents in translatedDocuments %}
            {% for document in documents %}
            <tr>
                <td>{{ language }}</td>
                <td>{{ document.getFilename() }}</td>
                <td>{{ document.getCreateDate() }}</td>
                <td>
                    <img align="left" width="16" height="16" src="#" style="margin-right:10px;">
                    <span class="js_user_preview" data-user-id="{{ document.getAuthor }}" data-task-id="{{ document.getTaskId }}">{{ document.getDocumentToUser.getTalent }}</span>
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
