{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped data-table" data-order='[[ 6, "desc" ]]'>
        <thead class="thead-default">
        <tr>
            <th>Task Id</th>
            <th>Title</th>
            <th>Languages</th>
            <th>User</th>
            <th>Started On</th>
            <th>Original Document</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            {% set document = taskToDocument[task.getTaskId()] %}
            <tr>
                <th><a href="{{ path('task_detail', {'id':task.getTaskId}) }}">{{ task.getTaskId() }}</a></th>
                <td>{{ task.getTitle() }}</td>
                <td>
                    {% for language in task.getLanguagesAsArray %}
                        {% if translatedDocuments[task.getTaskId][language] is empty %}
                            {% set class = 'danger' %}
                        {% else %}
                            {% set class = 'info' %}
                        {% endif %}
                        <span class="label label-{{ class }}">{{ language }}</span>
                    {% endfor %}
                    {% for language, documents in translatedDocuments[task.getTaskId] %}
                        {% if language not in task.getLanguagesAsArray and language != '--' %}
                            <span class="label label-primary">{{ language }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <img align="left" width="32" height="32" src="{{ document.getDocumentToUser.getUserAvatarUrl }}" style="margin-right:10px;">
                    <span class="js_user_preview" data-user-id="{{ task.getUserId }}" data-task-id="{{ task.getTaskId }}">{{ task.getAuthor.getTalent }}</span></td>
                <td>{{ task.getTasksDate }}</td>
                <td>
                    <img class="js_document_preview" align="left" width="64" height="64" src="{{ path('task_image', {'id':task.getTaskId()}) }}" style="margin-right:10px;">
                    <a href="{{ document.getUrl() }}" target="_blank">{{ document.getFilename() }}</a>
                </td>
                <td>{{ task.getState() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
