{% extends 'base.html.twig' %}
{% block body %}
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th style="width: 5%;">Task Id</th>
            <th style="width: 25%;">Title</th>
            <th style="width: 15%;">Languages</th>
            <th style="width: 20%;">User</th>
            <th style="width: 15%;">Started On</th>
            <th style="width: 15%;">Original Document Id</th>
            <th style="width: 5%;">State</th>

        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th>{{ task.getTaskId() }}</th>
                <td>{{ task.getTitle() }}</td>
                <td>{{ task.getLanguages() }}</td>
                <td>{{ task.getUserId() }}</td>
                <td>{{ task.getTasksDate() }}</td>
                <td>{{ task.getOriginalDocumentId() }}</td>
                <td>{{ task.getState() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}